<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qut.mapper.LabOrderMapper">
    <!-- 保存病人体征信息 -->
    <insert id="labOrderSave" parameterType="com.qut.pojo.LabOrder">
        insert into
            laborder(patient_id, certificateNo, patient_name, bed_no, items, doctor_name, create_time, update_time)
        values(#{patientId},#{certificateNo},#{patientName},#{bedNo},#{items},#{DoctorName}, #{createTime}, #{updateTime})
    </insert>

    <!-- 根据病人身份证查询病人检验单信息 -->
    <select id="labOrderQueryByCertificateNo" parameterType="String" resultType="map">
        SELECT * FROM laborder WHERE certificateNo = #{certificateNo} ORDER BY create_time DESC
    </select>

</mapper>