<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qut.mapper.ScheduleMapper">
    <insert id="saveSchedule" parameterType="com.qut.pojo.Schedule">
        insert into
        doctor_schedule(doctorId, date, time_slot, quota)
        VALUES
        (#{doctorId}, #{date}, #{time_slot}, #{quota} )
    </insert>
</mapper>